.overlay-wrap {
    body.overlay-open & {
        z-index: 9001;
        opacity: 1;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s;
}

.overlay {
    display: none;
    background-color: #fff;
    width: 50%;
    height: 50%;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 0px rgba(50, 50, 50, 0.75);
    overflow-x: auto;

    &.open {
        display: block;
    }
}
