.slide-list {
    display: flex;
    flex-wrap: wrap;
}

.slide {
    flex: auto;
    margin: 1.2em;
    padding: 0.5em;
    cursor: pointer;

    .desc {
        min-width: 12em;
    }

    .title {
        font-weight: bold;
        margin: -0.5em;
        margin-bottom: 0;
        padding: 0.5em;
        padding-bottom: 0.25em;

        .buttons {
            display: none;
        }
    }

    &.active {
        border: 0.2em solid gold;
        margin: 1em;
    }

    &:hover {
        border: 0.2em dashed gold;
        margin: 1em;

        .title {
            background-color: rgba(0, 0, 0, 0.1);

            .buttons {
                display: block;

                .icon {
                    margin: 0 0.25em;
                }
            }
        }
    }
}
