.workspace {
    cursor: none;

    &.working {
        cursor: crosshair;
    }

    .content {
        position: absolute;
        top: 0;
        left: 0;
    }

    .dragon {
        pointer-events: auto !important;
    }
}

.hover-menu {
    border: 1px dashed #ccc;
    position: absolute;

    .icons {
        background-color: rgba(#fff, 0.5);
    }

    .icon {
        display: inline-block;
        padding: 0.25em 0.5em;
        cursor: pointer;
        margin: 1px;
    }

    .active {
        background-color: rgba(#fff, 0.75);
        border: 1px solid #ccc;
        margin: 0;
    }
}
