<!-- Template for hover interactions -->
<div class="hover-menu hidden">
    <div class="icons">
        <div class="icon active" title="Edit">
            <span class="fa fa-pencil"></span>
        </div>

        <div class="icon" title="Move">
            <span class="fa fa-arrows"></span>
        </div>

        <div class="icon" title="Transform">
            <span class="fa fa-object-group"></span>
        </div>

        <div class="icon pull-right" title="Delete">
            <span class="fa fa-trash"></span>
        </div>
    </div>
</div>
