<!-- Template for hover interactions -->
<div class="hover-menu hidden">
    <div class="icons">
        <div class="icon active" title="Edit" data-tool="edit">
            <span class="fa fa-pencil"></span>
        </div>

        <div class="icon" title="Move" data-tool="move">
            <span class="fa fa-arrows"></span>
        </div>

        <div class="icon" title="Transform" data-tool="transform">
            <span class="fa fa-object-group"></span>
        </div>

        <div class="icon pull-right" title="Delete" data-tool="delete">
            <span class="fa fa-trash"></span>
        </div>
    </div>
</div>
