<div class="menu">
    <h1>Menu</h1>

    <i>(working)</i>
    <button class="button-primary help" data-overlay=".help">Help</button>
    <button class="button-primary presets" data-overlay=".presets">Presets</button>
    <button class="button-primary start-webcam">Start Webcam</button>
    <button class="button-primary stop-webcam hidden">Stop Webcam</button>
    <button class="button-primary add-image" data-overlay=".image">Add an Image</button>
    <button class="button-primary add-sound" data-overlay=".sound">Add a Sound</button>
    <button class="button-primary add-video" data-overlay=".video">Add a Video</button>
    <button class="button-primary add-text" data-overlay=".text">Add Text</button>
    <button class="button-primary background" data-overlay=".background">Edit Background</button>
    <hr>
    
    <i>(soon ™)</i>
    <button class="nope file">File</button>
    <button class="nope tools" data-overlay=".tools">Tools</button>
    <button class="nope credits">Credits</button>
    <button class="nope prev-slide">Previous Slide</button>
    <button class="nope next-slide">Next Slide</button>
    <button class="nope slides">View All Slides</button>

<!--    <button class="nope play">Play &emsp; ►</button> -->
<!--    <button class="nope pause hidden">Pause &emsp; ❙❙</button> -->
<!--    <button class="nope add-drawing" data-overlay=".drawing">Add a Drawing</button> -->
</div>
