<div class="menu">
    <section class="edit">
        <h1>Menu</h1>

        <button class="button-primary help" data-overlay=".help">Help</button>
        <button class="button-primary start-webcam">Start Webcam</button>
        <button class="button-primary stop-webcam hidden">Stop Webcam</button>
        <button class="button-primary" data-overlay=".content">Add Content</button>
        <button class="button-primary background" data-overlay=".background">Edit Background</button>

        <a class="toggle" data-rel=".menu .advanced" data-toggle="▲ Hide Advanced Options">▼ Show Advanced Options</a>

        <div class="advanced hidden">
            <button class="button-primary file" data-overlay=".file">File</button>
            <button class="nope animate">Animate</button>
            <button class="button-primary slides" data-overlay=".slides">View Slides</button>

            <div class="grid-row">
                <button class="half button-primary prev">Prev</button>
                <button class="half button-primary next">Next</button>
            </div>

            <button class="button-primary play">Play &emsp; ►</button>
            <button class="button-primary pause hidden">Pause &emsp; ❙❙</button>
            <button class="button-primary credits">Credits</button>
        </div>
    </section>

    <section class="play hidden">
        <h1>Menu</h1>

        <button class="button-primary slides" data-overlay=".slides">View Slides</button>

        <div class="grid-row">
            <button class="half button-primary prev">Prev</button>
            <button class="half button-primary next">Next</button>
        </div>

        <button class="button-primary play">Play &emsp; ►</button>
        <button class="button-primary pause hidden">Pause &emsp; ❙❙</button>
        <button class="button-primary credits">Credits</button>
    </section>

    <section class="animate hidden">
        <h1>Animate</h1>

        <p class="element">Click on an element to get started</p>

        <div class="element-selected hidden">
            <button class="button-primary new">Create New Animation</button>

            <div class="animations hidden">
                <select>
                    <option value="">Select Animation</option>
                    <option value="">----</option>
                </select>

                <div class="animation-selected hidden">
                    <button class="button-primary delete">Delete This Animation</button>

                    <label>
                        <input type="checkbox" class="enabled"> <span class="label-body">Play</span>
                    </label>

                    <label>
                        <input type="checkbox" class="tween" checked> <span class="label-body">Tween</span>
                    </label>

                    <label>
                        <input type="checkbox" class="loop" checked> <span class="label-body">Loop</span>
                    </label>

                    <div>
                        <label for="frame">Duration</label>
                        <input name="frame" id="frame" type="range" min="0" max="60" step="0.1" value="10">
                    </div>

                    <div>
                        <label for="frame">Frames</label>
                        <input name="frame" id="frame" type="range" min="0" max="1" step="1" value="0">
                    </div>

                    <div class="grid-row">
                        <button class="half button-primary new-frame">New</button>
                        <button class="half button-primary delete-frame">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <button class="button-primary cancel">Cancel</button>
    </section>
</div>
