<!-- Overlays -->
<div class="overlay-wrap">
    <section class="template" data-src="overlays/help.html"></section>
    <section class="template" data-src="overlays/presets.html"></section>
    <section class="template" data-src="overlays/tools.html"></section>
    <section class="template" data-src="overlays/image.html"></section>
    <section class="template" data-src="overlays/sound.html"></section>
    <section class="template" data-src="overlays/video.html"></section>
    <section class="template" data-src="overlays/text.html"></section>

    <div class="overlay drawing">
        Basic options
            Brush size
            Brush color
            Erase
    </div>

    <div class="overlay advanced">
        Advanced options
            Class
            ID
            Style
    </div>

    <div class="overlay scripts">
        <textarea></textarea>

        <button class="save">Save</button>
        <button class="revert">Revert</button>
        <button class="cancel">Cancel</button>
    </div>

    <div class="overlay css">
        <textarea></textarea>

        <button class="save">Save</button>
        <button class="revert">Revert</button>
        <button class="cancel">Cancel</button>
    </div>
</div>
