<!-- Assets to be preloaded -->
<div class="preload">
    <img src="img/explosion-1.gif">
    <img src="img/explosion-2.gif">
    <img src="img/explosion-3.gif">
    <img src="img/explosion-4.gif">
    <img src="img/explosion-5.gif">
    <img src="img/explosion-6.gif">
    <img src="img/explosion-7.gif">
    <audio class="explosion" preload="auto">
        <source src="audio/explosion.mp3">
    </audio>

    <img src="img/hitmarker.png">
    <audio class="hitmarker" preload="auto">
        <source src="audio/hitmarker.webm">
    </audio>

    <img src="img/airhorn.png">
    <audio class="airhorn" preload="auto">
        <source src="audio/airhorn.webm">
    </audio>

    <svg class="textmagick">
        <pattern class="stroke" width="250" height="250" patternUnits="userSpaceOnUse">
            <image xlink:href="" width="250" height="250"></image>
        </pattern>
        
        <pattern class="text" width="250" height="250" patternUnits="userSpaceOnUse">
            <image xlink:href="" width="250" height="250"></image>
        </pattern>
        
        <text
            class="stroke"
            fill="none"
            dominant-baseline="hanging"
            stroke-linejoin="round">
        </text>
            
        <text
            class="text"
            dominant-baseline="hanging">
        </text>
    </svg>
</div>
