<div class="transform hidden">
    <div class="handle top left" data-offset="-225"></div>
    <div class="handle top vertical" data-offset="90"></div>
    <div class="handle top right" data-offset="45"></div>
    <div class="handle right horizontal" data-offset="0"></div>
    <div class="handle bottom right"data-offset="-45"></div>
    <div class="handle bottom vertical" data-offset="-90"></div>
    <div class="handle bottom left" data-offset="225"></div>
    <div class="handle left horizontal" data-offset="-180"></div>
</div>
