<!-- The workspace where things are added -->
<div class="workspace working">
    <!-- Fork me! -->
    <div class="fork">
        <a href="https://github.com/itsrachelfish/memes">
            <img src="img/fork-me.png" class="bomb">
        </a>

        <a href="https://github.com/itsrachelfish/memes">
            <img src="img/fork-me-banner.png" class="bomb">
        </a>
    </div>
</div>

<!-- Templates for content -->
<div class="video-wrap hidden">
    <video class="element"></video>
</div>

<div class="audio-wrap hidden">
    <div class="title"></div>
    <audio class="element"></audio>
</div>
