<div>
    <a class="toggle" data-rel=".overlay .credits" data-toggle="▲ Hide Credits Options">▼ Show Credits Options</a>
</div>

<div class="credits row hidden">
    <div class="twelve columns">
        <label for="title">Title</label>
        <input name="title" class="u-full-width" placeholder="Title displayed when credits play" id="title" type="text">
    </div>

    <div class="twelve columns">
        <label for="desc">Description</label>
        <textarea name="desc" class="u-full-width" placeholder="Optional. If provided this description will replace the URL when credits play"></textarea>
    </div>

    <div class="twelve columns">
        <label for="license">License</label>

        <select name="license" class="u-full-width" id="license">
            <option value="unknown">Unknown</option>
            <option value="meme">Internet Meme</option>
            <option value="own-work">Own Work</option>
            <option value="permission">Used With Permission</option>
            <option value="without-permission">Used Without Permission</option>
            <option value="fair-use">Fair Use</option>
            <option value="legally-obtained">Free To Download</option>
            <option value="legally-purchased">Pay To Download</option>
            <option value="creative-commons-by">Creative Commons Attribution</option>
            <option value="creative-commons-by-sa">Creative Commons Sharealike</option>
        </select>
    </div>

    <div class="twelve columns">
        <label for="license">Exclude from credits</label>
        <input name="exclude" type="checkbox">
    </div>
</div>
