<div class="twelve columns">
    <label for="image-license">License</label>

    <select name="license" class="u-full-width" id="image-license">
        <option value="unknown">Unknown</option>
        <option value="own-work">Own Work</option>
        <option value="permission">Used With Permission</option>
        <option value="fair-use">Fair Use</option>
        <option value="legally-obtained">Legally Obtained</option>
        <option value="creative-commons-by">Creative Commons Attribution</option>
        <option value="creative-commons-by-sa">Creative Commons Sharealike</option>
    </select>
</div>
