<div>
    <a class="toggle" data-rel=".overlay .misc" data-toggle="▲ Hide Miscellaneous Options">▼ Show Miscellaneous Options</a>
</div>

<div class="misc row hidden">
    <div class="twelve columns">
        <label for="misc-class">Custom Classes</label>
        <input name="class" class="u-full-width" placeholder="Advanced option. Used for applying predefined effects." id="misc-class" type="text">
    </div>

    <div class="twelve columns">
        <label for="misc-goto">Goto Slide</label>
        <input name="goto" class="u-full-width" placeholder="Enter the slide number to jump to when this element is clicked. Requires the 'goto' class." id="misc-goto" type="number">
    </div>

    <div class="twelve columns">
        <label for="misc-layer">Layer</label>
        <input name="layer" class="u-full-width" placeholder="Enter the slide number to jump to when this element is clicked. Requires the 'goto' class." id="misc-layer" type="number">
    </div>
</div>
