.animating {
    transition: none !important;
    animation-fill-mode: both;
}

.typing {
    animation: typing 0.5s steps(20, end); 
    animation-fill-mode: backwards;
    overflow: hidden;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
} 

.delay-500 {
   animation-delay: 500ms;
}

.delay-1000 {
    animation-delay: 1000ms;
}

.delay-1500 {
    animation-delay: 1500ms;
}

.delay-2000 {
    animation-delay: 2000ms;
}

.delay-2500 {
    animation-delay: 2500ms;
}

.delay-3000 {
    animation-delay: 3000ms;
}

.no-transition {
    transition: none !important;
}

.invisible {
    opacity: 0;
}

.trippy-fast {
    animation: trippy 1s linear infinite;
}

.trippy {
    animation: trippy 4s linear infinite;
}

.trippy-slow {
    animation: trippy 20s linear infinite;
}

@keyframes trippy {
  from { filter: hue-rotate(0deg); }
  to { filter: hue-rotate(360deg); }
}

.invert {
    filter: invert(100%);
}

.grayscale {
    filter: grayscale(100%);
}

.blur-less {
    filter: blur(5px);
}

.blur {
    filter: blur(25px);
}

.blur-more {
    filter: blur(100px);
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blink-fast {
    animation: blink 0.5s steps(1, start) infinite;
}

.blink {
    animation: blink 1s steps(1, start) infinite;
}

.blink-slow {
    animation: blink 2.5s steps(1, start) infinite;
}
