html, body {
    min-height: 100%;
    min-width: 100%;
    background-attachment: fixed !important;
}

.webcam {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.preload {
    position: fixed;
    top: -100%;
    left: -100%;
    opacity: 0;
}

.hidden {
    display: none !important;
}

.workspace {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.hitmarker {
    position: absolute;
    pointer-events: none;
    margin-top: -75px;
    margin-left: -75px;
    z-index: 9001;
}

.note {
    display: inline-block;
    color: #aaa;
    border-left: 4px #33C3F0 solid;
    margin-bottom: 1em;
    padding: 1em;
}

.fork {
    position: absolute;
    top: 0;
    right: 0;

    img {
        position: absolute;
        right: 0;
    }
}

svg {
    pointer-events: none;
}

.grid-row {
    display: flex;

    .half {
        width: 50%;
        margin-right: 1em;
    }

    .half:last-child {
        margin-right: 0;
    }

    .left {
        text-align: right;
    }

    .right {
        text-align: left;
    }
}

.toggle {
    cursor: pointer;
}

.relative {
    position: relative;
}

.picker {
    &.padding {
        margin-top: 2em;
    }

    label {
        position: absolute;
        color: #aaa;
        font-weight: normal;
        top: -2em;
        left: 0;
    }

    input {
        width: 100%;
        height: 2.5em;
        padding: 0.25em;
        display: inline-block;
    }
}

button.gray {
    background-color: #aaa;
    color: #fff;
}

.icon {
    display: inline-block;
}
