@font-face {
    font-family: "Determination Sans";
    src: url("../fonts/DeterminationSansWeb.woff");
}

@font-face {
    font-family: "Determination Mono";
    src: url("../fonts/DeterminationMonoWeb.woff");
}
