<div class="overlay audio">
    <h1 class="add">Add a Sound</h1>
    <h1 class="edit hidden">Edit a Sound</h1>

    <i class="note">Only HTML5 audio (.mp3 / .wav / .ogg) is currently supported. SoundCloud support coming soon ™</i> 

    <form>
        <div class="row">
            <div class="twelve columns">
                <label for="audio-url">Audio URL</label>
                <input name="url" class="u-full-width" placeholder="https://classic.wetfish.net/audio/devansheaven.mp3" id="audio-url" type="text">
            </div>

            <div class="twelve columns">
                <label for="audio-volume">Volume</label>

                <div class="range">
                    <input name="volume" id="audio-volume" type="range" min="0" max="1" step="0.01">
                    <span class="range-value"></span>
                </div>
            </div>

            <label>
                <input name="autoplay" type="checkbox"> <span class="label-body">Autoplay</span>
            </label>

            <label>
                <input name="loop" type="checkbox"> <span class="label-body">Loop</span>
            </label>
        </div>

        <section class="template" data-src="partials/credits.html"></section>
        <section class="template" data-src="partials/misc.html"></section>
        <hr>

        <input class="button-primary" value="Submit" type="submit">
    </form>
</div>
