<div class="overlay background">
    <h1>Change Background</h1>

    <i class="note">PROTIP: Try using a fancy <a href='http://www.w3schools.com/css/css3_gradients.asp' target='_blank'>css3 gradient</a>, like this: linear-gradient(45deg, #f06, yellow)</i>

    <form>
        <div class="row">
            <div class="twelve columns">
                <label for="background">Background</label>

                <div class="row">
                    <div class="ten columns">
                        <input name="background" class="u-full-width" placeholder="Use words like 'red', 'green', or 'blue' -- Or use hex codes like '#A500FF'" id="background" type="text">
                    </div>

                    <div class="two columns relative picker">
                        <label>Color picker</label>
                        <input name="picker" type="color" data-rel="#background">
                    </div>
                </div>
            </div>

            <div class="twelve columns">
                <label for="background-image">Image</label>
                <input name="image" class="u-full-width" placeholder="img/rainbow-spiral.gif" id="background-image" type="text">
            </div>

            <div class="twelve columns">
                <label for="text-size">Repeat</label>
                <select name="repeat">
                    <option value="repeat">Repeat</option>
                    <option value="repeat-x">Repeat Horizontally</option>
                    <option value="repeat-y">Repeat Vertically</option>
                    <option value="no-repeat">Don't Repeat</option>
                </select>
            </div>

            <div class="twelve columns">
                <label for="border-color">Position</label>
                <input name="position" class="u-full-width" placeholder="Optional. Use 'left top', 'bottom right', 'center', etc. Leave blank if you don't know what this does!" id="background-position" type="text">
            </div>
        </div>

        <hr>

        <input class="button-primary" value="Submit" type="submit">
    </form>
</div>
