<div class="overlay content">
    <h1>Add Content</h1>

    <i class="note">Sorry, I know this menu sucks right now. It will be better eventually.</i> 
    <br>
    
    <button class="button-primary" data-overlay=".presets">Presets</button>
    <button class="button-primary" data-overlay=".image">Add an Image</button>
    <button class="button-primary" data-overlay=".audio">Add a Sound</button>
    <button class="button-primary" data-overlay=".video">Add a Video</button>
    <button class="button-primary" data-overlay=".headline">Add a Headline</button>
    <button class="button-primary" data-overlay=".text">Add Text</button>
    <hr>

    <i>(soon ™)</i>
    <br>

    <button class="nope add-drawing" data-overlay=".drawing">Add a Drawing</button>
</div>
