<div class="credits-overlay hidden">
    <div class="credits">
        <div class="title">Example Credits</div>
        <div class="author">Cool Author</div>
        <div class="sources">
            <div class="source grid-row">
                <div class="left half">
                    <label></label>
                </div>
                <div class="right half">
                    <div class="desc"><span></span></div>
                    <div class="license"></div>
                </div>
            </div>
        </div>
    </div>
</div>
