<div class="credits-overlay hidden">
    <div class="credits">
        <div class="title">Example Credits</div>
        <div class="author">Cool Author</div>
        <div class="sources">
            <div class="source grid-row">
                <div class="left half">
                    <label>Custom Image</label>
                </div>
                <div class="right half">
                    <div class="url">http://wetfish.net/cool.jpg</div>
                    <div class="license">Creative Commons</div>
                </div>
            </div>
            <div class="source grid-row">
                <div class="left half">
                    <label>Cool Video</label>
                </div>
                <div class="right half">
                    <div class="url">http://wetfish.net/cool.webm</div>
                    <div class="license">Creative Commons</div>
                </div>
            </div>
            <div class="source grid-row">
                <div class="left half">
                    <label>Snoop Dog Dancing (Preset)</label>
                </div>
                <div class="right half">
                    <div class="url">img/snoop.gif</div>
                    <div class="license">Unknown</div>
                </div>
            </div>
        </div>
    </div>
</div>
