<div class="overlay file">
    <h1>Save / Export</h1>

    <i class="note">Never load a project from someone you don't trust, you could get hacked!</i>

    <button class="nope">Delete Project</button>
    <button class="nope">Save Project</button>
    <button class="nope">Import Project</button>

    <form>
        <div class="row">
            <div class="twelve columns">
                <label for="title">Title</label>
                <input name="title" class="u-full-width" placeholder="A really cool project" id="title" type="text">
            </div>
        </div>

        <hr>

        <input class="button-primary" value="Submit" type="submit">
    </form>
</div>
