<div class="overlay file">
    <h1>File Options</h1>

    <i class="note">Never load a project from someone you don't trust, you could get hacked!</i>

    <div>
        <button class="button-primary new">New Project</button>
        <button class="button-primary save">Save Project</button>
    </div>

    <form>
        <div class="row">
            <div class="twelve columns">
                <label for="title">Title</label>
                <input name="title" class="u-full-width title" placeholder="A really cool project" id="title" type="text">
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <label for="date-created">Date Created</label>
                <input name="date-created" class="u-full-width date-created" placeholder="YYYY-MM-DD HH:MM:SS" id="date-created" type="text" readonly>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <label for="last-modified">Last Modified</label>
                <input name="last-modified" class="u-full-width last-modified" placeholder="YYYY-MM-DD HH:MM:SS" id="last-modified" type="text" readonly>
            </div>
        </div>
    </form>

    <hr>

    <form class="import">
        <div class="row">
            <div class="twelve columns">
                <label for="import-file">Import File</label>
                <input name="import-file" class="u-full-width" id="import-file" type="file">
            </div>
        </div>

        <input class="button-primary" type="submit" value="Import Project">
    </form>
</div>
