<div class="overlay frames">
    <button class="button-primary create">Create new frame</button>
    <button class="button-primary copy">Copy current frame</button>

    <button class="pull-right gray filter" data-filter="false" data-toggle="Show frames without descriptions">Hide frames without descriptions</button>

    <div class="frame-list">
        <div class="frame hidden">
            <div class="title">
                <div class="buttons pull-right">
                    <div class="icon pull-right" title="Delete" data-tool="delete">
                        <span class="fa fa-trash"></span>
                    </div>

                    <div class="icon pull-left active" title="Move" data-tool="move">
                        <span class="fa fa-arrows"></span>
                    </div>

                    <div class="icon pull-right" title="Edit" data-tool="edit">
                        <span class="fa fa-pencil"></span>
                    </div>
                </div>

                <div class="text">Frame 1</div>
            </div>

            <div class="objects">3 objects</div>
            <div class="desc">Frame description</div>
        </div>
    </div>
</div>
