<div class="overlay image">
    <h1 class="add">Add an Image</h1>
    <h1 class="edit hidden">Edit an Image</h1>

    <i class="note">Use transparency you fuken skrub</i> 

    <form>
        <div class="row">
            <div class="twelve columns">
                <label for="image-url">Image URL</label>
                <input name="url" class="u-full-width" placeholder="https://wetfish.net/img/under-construction-truck.gif" id="image-url" type="text">
            </div>
        </div>

        <section class="template" data-src="partials/credits.html"></section>
        <section class="template" data-src="partials/misc.html"></section>
        <hr>

        <input class="button-primary" value="Submit" type="submit">
        <input class="button-primary close" data-open=".content" value="Cancel" type="button">
    </form>
</div>
