<div class="overlay image">
    <h1 class="add">Add an Image</h1>
    <h1 class="edit hidden">Edit an Image</h1>

    <i class="note">Use transparency you fuken skrub</i> 

    <form>
        <div class="row">
            <div class="twelve columns">
                <label for="image-url">Image URL</label>
                <input name="url" class="u-full-width" placeholder="https://wetfish.net/img/under-construction-truck.gif" id="image-url" type="text">
            </div>

            <div class="twelve columns">
                <label for="image-desc">Description</label>
                <input name="desc" class="u-full-width" placeholder="Under construction truck" id="image-desc" type="text">
            </div>

            <section class="template" data-src="partials/license.html"></section>
        </div>

        <hr>

        <input class="button-primary" value="Submit" type="submit">
    </form>
</div>
