<div class="overlay presets">
    <label>Interactive</label>
    <button class="button-primary" data-preset="airhorn">Airhorn</button>

    <br>(interactivity coming soon ™)<br>
    <button class="button-primary" data-preset="image" data-src="deal-with-it.png">Deal With It</button>
    <button class="button-primary" data-preset="image" data-src="joint-2.png">Left Joint</button>
    <button class="button-primary" data-preset="image" data-src="joint.png">Right Joint</button>
    <button class="button-primary" data-preset="image" data-src="mlady.gif">M'lady</button>
    <button class="button-primary" data-preset="image" data-src="salamander-man.gif">Salamander Man</button>
    <button class="button-primary" data-preset="image" data-src="sanic.gif">Sanic</button>
    <button class="button-primary" data-preset="image" data-src="wow.gif">Wow</button>
    <button class="button-primary" data-preset="image" data-src="weed-wallpaper.gif">Weed Wallpaper</button>
    <button class="button-primary" data-preset="image" data-src="snoop.gif">Snoop</button>
    
    <br>(doesn't even work yet)<br>
    <button class="nope">Duck</button>
    <button class="nope">Applause</button>
    <button class="nope">Cheering</button>
    <button class="nope">Boo</button>
    <button class="nope">America</button>
    <button class="nope">Fireworks</button>
    <button class="nope">The X-Files</button>

    <label>Images</label>
    <button class="button-primary" data-preset="image" data-src="laughing-man.gif">Laughing Man</button>
    <button class="button-primary" data-preset="image" data-src="cum.gif">Cum</button>
    <button class="button-primary" data-preset="image" data-src="anime.png">Anime</button>
    <button class="button-primary" data-preset="image" data-src="doge.gif">Doge</button>
    <button class="button-primary" data-preset="image" data-src="dogecoin.gif">Dogecoin</button>
    <button class="button-primary" data-preset="image" data-src="exploding-illuminati.gif">Exploding Illuminati</button>
    <button class="button-primary" data-preset="image" data-src="faze.png">FaZe Clan</button>
    <button class="button-primary" data-preset="image" data-src="fedora.png">Fedora</button>
    <button class="button-primary" data-preset="image" data-src="frog.gif">Frog</button>
    <button class="button-primary" data-preset="image" data-src="gun.gif">Gun Gif</button>
    <button class="button-primary" data-preset="image" data-src="gun.png">Gun</button>
    <button class="button-primary" data-preset="image" data-src="illuminati.png">Illuminati</button>
    <button class="button-primary" data-preset="image" data-src="lenny.gif">Lenny</button>
    <button class="button-primary" data-preset="image" data-src="mlg.gif">MLG</button>
    <button class="button-primary" data-preset="image" data-src="mlg-3d.gif">MLG in 3D</button>
    <button class="button-primary" data-preset="image" data-src="mlp.png">MLP</button>
    <button class="button-primary" data-preset="image" data-src="molotov.gif">Molotov Cocktail</button>
    <button class="button-primary" data-preset="image" data-src="mountain-dew.gif">Mountain Dew</button>
    <button class="button-primary" data-preset="image" data-src="obey.png">Obey Hat</button>
    <button class="button-primary" data-preset="image" data-src="rachel.jpg">Rachel</button>
    <button class="button-primary" data-preset="image" data-src="rainbow-frog.gif">Rainbow Frog</button>
    <button class="button-primary" data-preset="image" data-src="regular-show.gif">Regular Show</button>
    <button class="button-primary" data-preset="image" data-src="rickroll.gif">Rickroll</button>
    <button class="button-primary" data-preset="image" data-src="rifle.gif">Rifle</button>
    <button class="button-primary" data-preset="image" data-src="shrek.gif">Shrek</button>
    <button class="button-primary" data-preset="image" data-src="skeleton.gif">Skeleton</button>
    <button class="button-primary" data-preset="image" data-src="skeletons.gif">Skeletons</button>
    <button class="button-primary" data-preset="image" data-src="sparkle-dew.gif">Sparkle Dew</button>
    <button class="button-primary" data-preset="image" data-src="time-of-death.gif">Time of Death</button>
    <button class="button-primary" data-preset="image" data-src="top-hat.png">Top Hat</button>
    <button class="button-primary" data-preset="image" data-src="undertale.png">Undertale</button>
    <button class="button-primary" data-preset="image" data-src="wow.png">Wow</button>
    <button class="button-primary" data-preset="image" data-src="nug.png">Nug</button>
    <button class="button-primary" data-preset="image" data-src="nugs.png">Nugs</button>
    <button class="button-primary" data-preset="image" data-src="sparkly-nug.gif">Sparkly Nug</button>
    <button class="button-primary" data-preset="image" data-src="mtn-dew-logo.png">Mountain Dew Logo</button>
    <button class="button-primary" data-preset="image" data-src="8bit-doritos.png">8bit Doritos</button>
    <button class="button-primary" data-preset="image" data-src="dorito.gif">Dorito</button>
    <button class="button-primary" data-preset="image" data-src="doritos-logo.png">Doritos Logo</button>
    <button class="button-primary" data-preset="image" data-src="8bit-weed.gif">8bit Weed</button>
    <button class="button-primary" data-preset="image" data-src="sparkles.gif">Sparkles</button>
    <button class="button-primary" data-preset="image" data-src="radheron.gif">RadHeron</button>
    <button class="button-primary" data-preset="image" data-src="kawaii-weed.gif">Kawaii Weed</button>
    <button class="button-primary" data-preset="image" data-src="smoke.gif">Smoke</button>

    <label>Sounds</label>
    <button class="button-primary" data-preset="sound" data-src="tripple.webm">Tripple</button>
    <button class="button-primary" data-preset="sound" data-src="sad-violin.webm">Sad Violin</button>
    <button class="button-primary" data-preset="sound" data-src="really-sad-violin.webm">REALLY SAD VIOLIN</button>
    <button class="button-primary" data-preset="sound" data-src="wombo-combo.webm">Wombo Combo</button>
    <button class="button-primary" data-preset="sound" data-src="leeroy.webm">Leeroy Jenkins</button>
    <button class="button-primary" data-preset="sound" data-src="whatcha-say.webm">Whatcha Say</button>
    <button class="button-primary" data-preset="sound" data-src="damn.webm">Damn Son</button>

    <label>Videos</label>
    <button class="nope">Spooky</button>
    <button class="nope">Rap Battle</button>
    <button class="nope">Yee</button>

    <label>Overlays</label>
    <button class="nope">Wasted</button>
    <button class="nope">Round Winning Kill</button>
    <button class="nope">Shit Everywhere</button>
</div>
