<div class="overlay slides">
    <button class="button-primary create">Create new slide</button>
    <button class="button-primary copy">Copy current slide</button>

    <button class="pull-right gray filter" data-filter="false" data-toggle="Show slides without descriptions">Hide slides without descriptions</button>

    <div class="slide-list droppable">
        <div class="slide hidden" data-group="slides">
            <div class="title">
                <div class="buttons pull-right">
                    <div class="icon edit" title="Edit">
                        <span class="fa fa-pencil"></span>
                    </div>

                    <div class="icon move" title="Move">
                        <span class="fa fa-arrows"></span>
                    </div>

                    <div class="icon delete" title="Delete">
                        <span class="fa fa-trash"></span>
                    </div>
                </div>

                <div class="text">Slide 1</div>
            </div>

            <div class="objects">3 objects</div>
            <div class="desc">Slide description</div>
        </div>
    </div>
</div>
