<div class="overlay slides">
    <button class="button-primary create">Create new slide</button>
    <button class="button-primary copy">Copy current slide</button>

    <button class="pull-right gray filter" data-filter="false" data-toggle="Show slides without descriptions">Hide slides without descriptions</button>

    <div class="slide-list droppable">
        <div class="slide hidden" data-group="slides">
            <div class="title">
                <div class="buttons pull-right">
                    <div class="icon edit" title="Edit">
                        <span class="fa fa-pencil"></span>
                    </div>

                    <div class="icon move" title="Move">
                        <span class="fa fa-arrows"></span>
                    </div>

                    <div class="icon delete" title="Delete">
                        <span class="fa fa-trash"></span>
                    </div>
                </div>

                <div class="text">Slide 1</div>
            </div>

            <div class="objects">3 objects</div>
            <div class="desc">Slide description</div>
        </div>
    </div>
</div>

<div class="overlay slide-edit">
    <h1>Editing Slide <span class="number">MissingNo.</span></h1>

    <i class="note">You must really like pressing buttons huh?</i>

    <form>
        <div class="row">
            <div class="twelve columns">
                <label for="slide-desc">Description</label>
                <input name="desc" class="u-full-width" placeholder="Act II: The Butthole Menace" id="slide-desc" type="text">
            </div>

            <label>
                <input name="autoplay" type="checkbox" class="autoplay"> <span class="label-body">Autoplay this slide</span>
            </label>

            <label>
                <input name="transition" type="checkbox" class="transition"> <span class="label-body">Transition smoothly to next slide</span>
            </label>

            <div class="use-autoplay hidden">
                <div class="twelve columns">
                    <label for="slide-duration">Slide Duration</label>
                    <input name="duration" class="u-full-width" id="slide-duration" type="number" step="0.01" placeholder="How long before going to the next slide (in seconds)">
                </div>

                <div class="twelve columns">
                    <label for="slide-goto">Next slide</label>
                    <input name="goto" class="u-full-width" id="slide-goto" type="number" placeholder="Optional. Enter a slide number to go to after the duration">
                </div>
            </div>

            <div class="use-transition hidden">
                <div class="twelve columns">
                    <label for="slide-transition-duration">Transition duration</label>
                    <input name="transition-duration" class="u-full-width" id="slide-transition-duration" type="number" placeholder="Optional. Duration of the animation between frames (defaults to 0.3 seconds)">
                </div>
            </div>
        </div>

        <hr>

        <input class="button-primary" value="Save" type="submit">
        <input class="button-primary view-all" value="View All Slides" type="button">
    </form>
</div>
