<div class="overlay text">
    <h1>Add Text</h1>

    <i class="note">This tool lets you make big outlined text, you can even use images as textures.</i> 

    <form>
        <div class="row">
            <div class="twelve columns">
                <label for="text">Text</label>
                <input name="text" class="u-full-width" placeholder="sample text" id="text" type="text">
            </div>

            <div class="twelve columns">
                <label for="text-color">Color</label>
                <input name="text-color" class="u-full-width" placeholder="Use words like 'red', 'green', or 'blue' -- Or use hex codes like '#A500FF'" id="text-color" type="text">
            </div>

            <div class="twelve columns">
                <label for="text-image">Image</label>
                <input name="text-image" class="u-full-width" placeholder="https://wiki.wetfish.net/super.gif" id="text-image" type="text">
            </div>

            <div class="twelve columns">
                <label for="text-size">Size</label>
                <input name="text-size" id="text-size" type="range" min="1" max="1337" step="1">
            </div>

            <label>
                <input name="border" class="border" type="checkbox"> <span class="label-body">Display border?</span>
            </label>

            <div class="use-border hidden">
                <div class="twelve columns">
                    <label for="border-color">Border Color</label>
                    <input name="border-color" class="u-full-width" placeholder="Use words like 'red', 'green', or 'blue' -- Or use hex codes like '#A500FF'" id="border-color" type="text">
                </div>

                <div class="twelve columns">
                    <label for="border-image">Border Image</label>
                    <input name="border-image" class="u-full-width" placeholder="https://wiki.wetfish.net/super.gif" id="border-image" type="text">
                </div>

                <div class="twelve columns">
                    <label for="border-size">Border Size</label>
                    <input name="border-size" id="border-size" type="range" min="1" max="1337" step="1">
                </div>
            </div>
        </div>

        <hr>

        <input class="button-primary" value="Submit" type="submit">
    </form>
</div>

</div>
