<div class="overlay tools">
    <button class="button-primary" data-tool="select">Select</button>
    <button class="nope">Transform</button>
    <button class="nope">Group</button>
    <button class="nope">Flip</button>
    <button class="nope">Copy</button>
    <button class="nope">Rotate 90° Clockwise ↷</button>
    <button class="nope">Rotate 90° Counterclockwise ↶</button>
    <button class="nope">Grayscale</button>
    <button class="nope">Invert</button>
    <button class="nope">Opacity</button>
    <button class="nope">Blur</button>
    <button class="nope">Filter</button>
    <button class="nope">Crop</button>
    <button class="nope">Trippy</button>
    <button class="nope">Jiggle</button>
    <button class="nope">Spin</button>
</div>

<div class="overlay tools-help">
    <h1>How to use Tools</h1>

    <p>
        You are about to enter tool mode.
        While using a tool, your mouse cursor will appear as a crosshair to denote how badass you are.
        As you hover over things on the page that can be modified, a border will appear.
    </p>

    <p>
        The tool you select will remain active indefinitely, even if you use it to modify several things on the page.
        To exit tool mode and return to the regular editor, <b>press escape</b> at any time.
    </p>

    <div class="details select hidden">
        <h2>Select Tool</h2>

        <p>
            The select tool lets you select objects on the page and edit them.
            Instead of deleting something and creating a new one, you can use the select tool to change the options you used.
        </p>

        <p>
            Click on something you've added to the page and an edit menu will appear.
        </p>
    </div>

    <hr>

    <button class="button-primary accept-help">Got it</button>
    <button class="button-primary enough-help">Don't tell me again</button>
</div>
