<div class="overlay tools">
    <button class="nope">Select</button>
    <button class="nope">Transform</button>
    <button class="nope">Flip</button>
    <button class="nope">Copy</button>
    <button class="nope">Rotate 90° Clockwise ↷</button>
    <button class="nope">Rotate 90° Counterclockwise ↶</button>
    <button class="nope">Grayscale</button>
    <button class="nope">Invert</button>
    <button class="nope">Opacity</button>
    <button class="nope">Blur</button>
    <button class="nope">Filter</button>
    <button class="nope">Crop</button>
    <button class="nope">Trippy</button>
    <button class="nope">Jiggle</button>
    <button class="nope">Spin</button>
    <button class="nope edit-css" data-overlay=".css">Custom CSS</button>
    <button class="nope edit-scripts" data-overlay=".scripts">Custom Scripts</button>
</div>
