<div class="overlay video">
    <h1>Add a Video</h1>

    <i class="note">Only HTML5 video (.webm / .mp4 / .ogv) videos are currently supported. YouTube support coming soon ™</i> 

    <form>
        <div class="row">
            <div class="twelve columns">
                <label for="video-url">Video URL</label>
                <input name="url" class="u-full-width" placeholder="https://www.oranges.net.nz/~oranges/webm/ayy_lmao.webm" id="video-url" type="text">
            </div>

            <div class="twelve columns">
                <label for="video-desc">Description</label>
                <input name="desc" class="u-full-width" placeholder="Aliens with dance moves" id="video-desc" type="text">
            </div>

            <div class="twelve columns">
                <label for="video-license">License</label>

                <select name="license" class="u-full-width" id="video-license">
                    <option value="unknown">Unknown</option>
                    <option value="own-work">Own Work</option>
                    <option value="permission">Used With Permission</option>
                    <option value="creative-commons">Creative Commons</option>
                </select>
            </div>

            <div class="twelve columns">
                <label for="video-volume">Volume</label>
                <input name="volume" id="video-volume" type="range" min="0" max="1" step="0.01">
            </div>

            <label>
                <input name="controls" type="checkbox"> <span class="label-body">Display Controls</span>
            </label>

            <label>
                <input name="autoplay" type="checkbox"> <span class="label-body">Autoplay</span>
            </label>

            <label>
                <input name="loop" type="checkbox"> <span class="label-body">Loop</span>
            </label>
        </div>

        <hr>

        <input class="button-primary" value="Submit" type="submit">
    </form>
</div>
